body {
	font-family: Arial;
}

.container {
	width: 500px;
	margin: 0 auto;
	border: 1px solid #777;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #444;
}

a:link, a:visited {
	color: slateGray;
	text-decoration: none;
}

a:hover {
	color: #444;
	border-bottom-color: #444;
}

input[type=text], input[type=password], textarea {
	-webkit-appearance: none;
	padding: 5px;
	border: 1px solid #ccc;
}